<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ резюме из HeadHunter

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.figure_factory as ff
from datetime import datetime, date
from PIL import Image
%matplotlib inline
pd.options.display.max_columns = 30
pd.options.display.max_rows = 60

In [4]:
# image_list = ['./charts/2-1-4.png', './charts/2-2-4.png', './charts/2-3-4.png', './charts/2-4-4.png', './charts/2-5-4.png']
# im = Image.open(image_list[0])
# im.save('2.gif', save_all=True, append_images=[Image.open(image) for image in image_list[1:]], duration=1000, loop=0)

# Исследование структуры данных

1. Прочитайте данные с помощью библиотеки Pandas. Совет: перед чтением обратите внимание на разделитель внутри файла.

In [5]:
# таблица с данными соискателей
df = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';', encoding='utf-8')

# таблица с курсами валют
df_mdf = pd.read_csv('data/ExchangeRates.csv') 

display(df.info())
display(df_mdf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5664 entries, 0 to 5663
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   currency    5664 non-null   object
 1   per         5664 non-null   object
 2   date        5664 non-null   object
 3   time        5664 non-null   object
 4   close       5664 non-null   float64
 5   vol         5664 non-null   int64
 6   proportion  5664 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 309.9+ KB

None

---

2. Выведите несколько первых (последних) строк таблицы, чтобы убедиться в том, что ваши данные не повреждены. Ознакомьтесь с признаками и их структурой.

In [6]:
#ваш код здесь
display(df.head(2))
display(df.tail(2))

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
44742,"Мужчина , 24 года , родился 6 октября 1994",20000 руб.,Контент-менеджер,"Тамбов , не готов к переезду , не готов к кома...","частичная занятость, полная занятость",удаленная работа,Опыт работы 3 года 10 месяцев Контент-менедже...,IQ-Maxima,Менеджер проектов,Высшее образование 2015 Тамбовский государств...,26.04.2019 14:25,Имеется собственный автомобиль
44743,"Мужчина , 38 лет , родился 25 апреля 1980",120000 руб.,Руководитель проекта,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 15 лет 10 месяцев Руководитель пр...,ПАО ГК ТНС энерго,Руководитель отдела технической поддержки,Высшее образование 1997 Южно-Российский госуд...,05.07.2018 20:15,Не указано

---

3. Выведите основную информацию о числе непустых значений в столбцах и их типах в таблице.

4. Обратите внимание на информацию о числе непустых значений.

In [7]:
df.isnull().sum()

Пол, возраст                         0
ЗП                                   0
Ищет работу на должность:            0
Город, переезд, командировки         0
Занятость                            0
График                               0
Опыт работы                        168
Последнее/нынешнее место работы      1
Последняя/нынешняя должность         2
Образование и ВУЗ                    0
Обновление резюме                    0
Авто                                 0
dtype: int64

---

5. Выведите основную статистическую информацию о столбцах.

In [8]:
#ваш код здесь
df.describe().T

,count,unique,top,freq
"Пол, возраст",44744,16003,"Мужчина , 32 года , родился 17 сентября 1986",18
ЗП,44744,690,50000 руб.,4064
Ищет работу на должность:,44744,14929,Системный администратор,3099
"Город, переезд, командировки",44744,10063,"Москва , не готов к переезду , не готов к кома...",1261
Занятость,44744,38,полная занятость,30026
График,44744,47,полный день,22727
Опыт работы,44576,44413,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,3
Последнее/нынешнее место работы,44743,30214,Индивидуальное предпринимательство / частная п...,935
Последняя/нынешняя должность,44742,16927,Системный администратор,2062
Образование и ВУЗ,44744,40148,Высшее образование 1987 Военный инженерный Кра...,4
Обновление резюме,44744,18838,07.05.2019 09:50,25
Авто,44744,2,Не указано,32268

----

# Преобразование данных

1. Начнем с простого - с признака **"Образование и ВУЗ"**. Его текущий формат это: **<Уровень образования год выпуска ВУЗ специальность...>**. Например:
* Высшее образование 2016 Московский авиационный институт (национальный исследовательский университет)...
* Неоконченное высшее образование 2000  Балтийская государственная академия рыбопромыслового флота…
Нас будет интересовать только уровень образования.

Создайте с помощью функции-преобразования новый признак **"Образование"**, который должен иметь 4 категории: "высшее", "неоконченное высшее", "среднее специальное" и "среднее".

Выполните преобразование, ответьте на контрольные вопросы и удалите признак "Образование и ВУЗ".

Совет: обратите внимание на структуру текста в столбце **"Образование и ВУЗ"**. Гарантируется, что текущий уровень образования соискателя всегда находится в первых 2ух слов и начинается с заглавной буквы. Воспользуйтесь этим.

*Совет: проверяйте полученные категории, например, с помощью метода unique()*

In [9]:
def educations(arg):
    """
Функция на вход принимает строку режит по пробелу и делает срез строки по индексу.
   * Далее в условие делается провека искомой подстроки и возвращает строку с искомым.

    """
    arg = ' '.join(arg.split(' ')[:3])
    if 'Высшее' in arg:
        return 'высшее'
    elif 'Неоконченное высшее' in arg:
        return 'неоконченное высшее'
    elif 'Среднее образование' in arg:
        return 'среднее'
    elif 'Среднее специальное' in arg:
        return 'среднее специальное'
    
df['Образование'] = df['Образование и ВУЗ'].apply(educations)
df.drop(columns='Образование и ВУЗ', axis=1, inplace=True)
df['Образование'] = pd.Categorical(df['Образование'], categories=['высшее','неоконченное высшее', 'среднее специальное', 'среднее'])

average = df['Образование'].value_counts()['среднее']
display(f'Количество соискателей имеющие средний уровень образования: {average}')


display(df.head(2))

'Количество соискателей имеющие средний уровень образования: 559'

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее

---

2. Теперь нас интересует столбец **"Пол, возраст"**. Сейчас он представлен в формате **<Пол , возраст , дата рождения >**. Например:
* Мужчина , 39 лет , родился 27 ноября 1979 
* Женщина , 21 год , родилась 13 января 2000
Как вы понимаете, нам необходимо выделить каждый параметр в отдельный столбец.

Создайте два новых признака **"Пол"** и **"Возраст"**. При этом важно учесть:
* Признак пола должен иметь 2 уникальных строковых значения: 'М' - мужчина, 'Ж' - женщина. 
* Признак возраста должен быть представлен целыми числами.

Выполните преобразование, ответьте на контрольные вопросы и удалите признак **"Пол, возраст"** из таблицы.

*Совет: обратите внимание на структуру текста в столбце, в части на то, как разделены параметры пола, возраста и даты рождения между собой - символом ' , '. 
Гарантируется, что структура одинакова для всех строк в таблице. Вы можете воспользоваться этим.*

In [10]:

def get_age(arg):
    '''
    Фуркция принимает на вход строку
       * режет её
       * извлекает подстроку по индексу
       * возвращает тип integer
    '''
    arg_splits = arg.split(' ')
    years = ['год', 'года', 'лет']
    for index, item in enumerate(arg_splits):
        if item in years:
            return int(arg_splits[index-1])

def get_gender(arg):
    '''
    Функция принимает на вход строку
       * извлекает подстроку по индексу
       * и возвращает только первый символ подстроки
    '''
    if 'Мужчина' in arg:
        return 'М'
    else:
        return 'Ж'
   
df['Возраст'] = df['Пол, возраст'].apply(get_age)
df['Пол'] = df['Пол, возраст'].apply(get_gender)

# # удалим признак Пол и возраст
df.drop(columns=['Пол, возраст'], axis=1, inplace=True)

display(round(df['Пол'].value_counts(normalize=True)['Ж'] * 100, 2))
display(round(df['Возраст'].mean(), 2))
# display(df.head())

19.07

32.2

-----

3. Следующим этапом преобразуем признак **"Опыт работы"**. Его текущий формат - это: **<Опыт работы: n лет m месяцев, периоды работы в различных компаниях…>**. 

Из столбца нам необходимо выделить общий опыт работы соискателя в месяцах, новый признак назовем "Опыт работы (месяц)"

Для начала обсудим условия решения задачи:
* Во-первых, в данном признаке есть пропуски. Условимся, что если мы встречаем пропуск, оставляем его как есть (функция-преобразование возвращает NaN)
* Во-вторых, в данном признаке есть скрытые пропуски. Для некоторых соискателей в столбце стоит значения "Не указано". Их тоже обозначим как NaN (функция-преобразование возвращает NaN)
* В-третьих, нас не интересует информация, которая описывается после указания опыта работы (периоды работы в различных компаниях)
* В-четвертых, у нас есть проблема: опыт работы может быть представлен только в годах или только месяцах. Например, можно встретить следующие варианты:
    * Опыт работы 3 года 2 месяца…
    * Опыт работы 4 года…
    * Опыт работы 11 месяцев…
    * Учитывайте эту особенность в вашем коде

Учитывайте эту особенность в вашем коде

В результате преобразования у вас должен получиться столбец, содержащий информацию о том, сколько месяцев проработал соискатель.
Выполните преобразование, ответьте на контрольные вопросы и удалите столбец **"Опыт работы"** из таблицы.

---

In [11]:


def work_exprience(arg):
    '''
    Функция принимает на вход строку и производит срез по индексу,
     * далее в цикле делается проверка на вхождение подстроки
         -  list_year = ['год', 'года', 'лет']
         -  list_month = ['месяц', 'месяцев', 'месяца'] 
      * если таковые имеются, то в переменную записывается приведенное к <int>
           предидущиие значение <index - 1>.
      * возвращает функция значение стажа работы в месяцах 

    '''
    if arg is np.nan or arg == 'Не указано':
        return np.nan
    arg_word = str(arg).split(' ')[:7]
    list_year = ['год', 'года', 'лет']
    list_month = ['месяц', 'месяцев', 'месяца']
    year_word = 0
    month_word = 0
    for index, item in enumerate(arg_word):
        if  item in list_year:
            year_word = int(arg_word[index - 1])
        if item in list_month:
            month_word = int(arg_word[index - 1])
    return year_word * 12 + month_word


df['Опыт работы(Месяц)'] = df['Опыт работы'].apply(work_exprience)
df.drop(columns='Опыт работы', inplace=True)
show_df = df['Опыт работы(Месяц)'].isna().sum()
display(f'количество нулевых значений: {show_df}')

'количество нулевых значений: 170'

-------

4. Хорошо идем! Следующий на очереди признак "Город, переезд, командировки". Информация в нем представлена в следующем виде: **<Город , (метро) , готовность к переезду (города для переезда) , готовность к командировкам>**. В скобках указаны необязательные параметры строки. Например, можно встретить следующие варианты:

* Москва , не готов к переезду , готов к командировкам
* Москва , м. Беломорская , не готов к переезду, не готов к командировкам
* Воронеж , готов к переезду (Сочи, Москва, Санкт-Петербург) , готов к командировкам

Создадим отдельные признаки **"Город"**, **"Готовность к переезду"**, **"Готовность к командировкам"**. При этом важно учесть:

* Признак **"Город"** должен содержать только 4 категории: "Москва", "Санкт-Петербург" и "город-миллионник" (их список ниже), остальные обозначьте как "другие".

    Список городов-миллионников:
    
   <code>million_cities = ['Новосибирск', 'Екатеринбург','Нижний Новгород','Казань', 'Челябинск','Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж','Волгоград']
    </code>
    Инфорация о метро, рядом с которым проживает соискатель нас не интересует.
* Признак **"Готовность к переезду"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к переезду в признаке "Город, переезд, командировки". Например:
    * … , готов к переезду , …
    * … , не готова к переезду , …
    * … , готова к переезду (Москва, Санкт-Петербург, Ростов-на-Дону)
    * … , хочу переехать (США) , …
    
    Нас интересует только сам факт возможности или желания переезда.
* Признак **"Готовность к командировкам"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к командировкам в признаке "Город, переезд, командировки". Например:
    * … , готов к командировкам , … 
    * … , готова к редким командировкам , …
    * … , не готов к командировкам , …
    
    Нас интересует только сам факт готовности к командировке.
    
    Еще один важный факт: при выгрузки данных у некоторых соискателей "потерялась" информация о готовности к командировкам. Давайте по умолчанию будем считать, что такие соискатели не готовы к командировкам.
    
Выполните преобразования и удалите столбец **"Город, переезд, командировки"** из таблицы.

*Совет: обратите внимание на то, что структура текста может меняться в зависимости от указания ближайшего метро. Учите это, если будете использовать порядок слов в своей программе.*

In [12]:


def get_city(arg):
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород',
                      'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 
                      'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград'
                     ]
    city = arg.split(' , ')[0]
    if (city == 'Москва') or (city == 'Санкт-Петербург'):
        return city
    elif city in million_cities:
        return 'город миллионник'
    else:
        return 'другие'
    
def get_ready_to_move(arg):
    if ('не готов к переезду' in arg) or ('не готова к переезду' in arg):
        return False
    elif 'хочу' in arg:
        return True
    else:
        return True
    
def get_ready_for_bisiness_trips(arg):
    if ('командировка' in arg):
        if ('не готов к командировкам' in arg) or('не готова к командировкам' in arg):
            return False
        else: 
            return True
    else:
        return False
    
df['Город'] = df['Город, переезд, командировки'].apply(get_city)
df['Готовность к переезду'] = df['Город, переезд, командировки'].apply(get_ready_to_move)
df['Готовность к командировкам'] = df['Город, переезд, командировки'].apply(get_ready_for_bisiness_trips)
df = df.drop('Город, переезд, командировки', axis=1)
df.head(2)

,ЗП,Ищет работу на должность:,Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,Опыт работы(Месяц),Город,Готовность к переезду,Готовность к командировкам
0,29000 руб.,Системный администратор,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,неоконченное высшее,39,М,202.0,другие,False,False
1,40000 руб.,Технический писатель,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,высшее,60,М,233.0,другие,False,True

----

5. Рассмотрим поближе признаки **"Занятость"** и **"График"**. Сейчас признаки представляют собой набор категорий желаемой занятости (полная занятость, частичная занятость, проектная работа, волонтерство, стажировка) и желаемого графика работы (полный день, сменный график, гибкий график, удаленная работа, вахтовый метод).
На сайте hh.ru соискатель может указывать различные комбинации данных категорий, например:
* полная занятость, частичная занятость
* частичная занятость, проектная работа, волонтерство
* полный день, удаленная работа
* вахтовый метод, гибкий график, удаленная работа, полная занятость

Такой вариант признаков имеет множество различных комбинаций, а значит множество уникальных значений, что мешает анализу. Нужно это исправить!

Давайте создадим признаки-мигалки для каждой категории: если категория присутствует в списке желаемых соискателем, то в столбце на месте строки рассматриваемого соискателя ставится True, иначе - False.

Такой метод преобразования категориальных признаков называется One Hot Encoding и его схема представлена на рисунке ниже:
<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/ohe.jpg>
* Выполните данное преобразование для признаков "Занятость" и "График", ответьте на контрольные вопросы, после чего удалите их из таблицы

In [13]:

def get_busyness(data, busynesse, work_schedule) -> pd.DataFrame:
    '''
    Функция на вход принимает три аргумента,
      * data - DataFrame
      * busynesse признак <Занятость>
      * work_schedule признак <График работы>
      * Далее если категории присутствуют в списках <busyness_list, charts_list>
      * создается новый признак в переданном DataFrame и заполняется либо True или False
      * И возвращает расширенный DataFrame с признаками мигалками
    '''
    busyness_list = ['полная занятость', 'частичная занятость',
                     'проектная работа', 'волонтерство', 'стажировка']
    
    charts_list = ['полный день', 'сменный график', 'гибкий график',
              'удаленная работа', 'вахтовый метод']
    

    for busyness, chart in zip(busyness_list, charts_list):
        data[busyness] = data[busynesse].apply(lambda x: busyness in x)
        data[chart] = data[work_schedule].apply(lambda x: chart in x)
    return data

get_busyness(df, 'Занятость', 'График')
df.drop(columns=['Занятость', 'График'], axis=1)

display(df[df['проектная работа'] & df['волонтерство']].shape[0])
display(df[df['вахтовый метод'] & df['гибкий график']].shape[0])

436

2311


---

6. (2 балла) Наконец, мы добрались до самого главного и самого важного - признака заработной платы **"ЗП"**. 
В чем наша беда? В том, что помимо желаемой заработной платы соискатель указывает валюту, в которой он бы хотел ее получать, например:
* 30000 руб.
* 50000 грн.
* 550 USD

Нам бы хотелось видеть заработную плату в единой валюте, например, в рублях. Возникает вопрос, а где взять курс валют по отношению к рублю?

На самом деле язык Python имеет в арсенале огромное количество возможностей получения данной информации, от обращения к API Центробанка, до использования специальных библиотек, например pycbrf. Однако, это не тема нашего проекта.

Поэтому мы пойдем в лоб: обратимся к специальным интернет-ресурсам для получения данных о курсе в виде текстовых файлов. Например, MDF.RU, данный ресурс позволяет удобно экспортировать данные о курсах различных валют и акций за указанные периоды в виде csv файлов. Мы уже сделали выгрузку курсов валют, которые встречаются в наших данных за период с 29.12.2017 по 05.12.2019. Скачать ее вы можете **на платформе**

Создайте новый DataFrame из полученного файла. В полученной таблице нас будут интересовать столбцы:
* "currency" - наименование валюты в ISO кодировке,
* "date" - дата, 
* "proportion" - пропорция, 
* "close" - цена закрытия (последний зафиксированный курс валюты на указанный день).


Перед вами таблица соответствия наименований иностранных валют в наших данных и их общепринятых сокращений, которые представлены в нашем файле с курсами валют. Пропорция - это число, за сколько единиц валюты указан курс в таблице с курсами. Например, для казахстанского тенге курс на 20.08.2019 составляет 17.197 руб. за 100 тенге, тогда итоговый курс равен - 17.197 / 100 = 0.17197 руб за 1 тенге.
Воспользуйтесь этой информацией в ваших преобразованиях.

<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/table.jpg>


Осталось только понять, откуда брать дату, по которой определяется курс? А вот же она - в признаке **"Обновление резюме"**, в нем содержится дата и время, когда соискатель выложил текущий вариант своего резюме. Нас интересует только дата, по ней бы и будем сопоставлять курсы валют.

Теперь у нас есть вся необходимая информация для того, чтобы создать признак "ЗП (руб)" - заработная плата в рублях.

После ответа на контрольные вопросы удалите исходный столбец заработной платы "ЗП" и все промежуточные столбцы, если вы их создавали.

Итак, давайте обсудим возможный алгоритм преобразования: 
1. Перевести признак "Обновление резюме" из таблицы с резюме в формат datetime и достать из него дату. В тот же формат привести признак "date" из таблицы с валютами.
2. Выделить из столбца "ЗП" сумму желаемой заработной платы и наименование валюты, в которой она исчисляется. Наименование валюты перевести в стандарт ISO согласно с таблицей выше.
3. Присоединить к таблице с резюме таблицу с курсами по столбцам с датой и названием валюты (подумайте, какой тип объединения надо выбрать, чтобы в таблице с резюме сохранились данные о заработной плате, изначально представленной в рублях). Значение close для рубля заполнить единицей 1 (курс рубля самого к себе)
4. Умножить сумму желаемой заработной платы на присоединенный курс валюты (close) и разделить на пропорцию (обратите внимание на пропуски после объединения в этих столбцах), результат занести в новый столбец "ЗП (руб)".

In [14]:
#  Удалим лишние столбцы из таблицы с курсами валют
df_mdf.drop(columns=['per', 'time', 'vol'], axis=1, inplace=True)

#  В признаке 'date' изменим тип данных на Datatime
df_mdf['date'] = pd.to_datetime(df_mdf['date'], dayfirst=True).dt.date

# в признаке "Обновления резюме" изменим тип данных на Datatime
df['Обновление резюме'] = pd.to_datetime(df['Обновление резюме']).dt.date


dframe = df.copy()
df_zp = pd.DataFrame()
# Создадим новый признак (date) и из dframe['Обновление резюме'] преобразуем в дату и время
# и аксессором возбмём только дату
df_zp['date'] = pd.to_datetime(dframe['Обновление резюме'], dayfirst=True).dt.date

#  Извлекём подстроку сумма желаемой зарплаты
#  Изменим тип данных в признаке (Зарплата) на int64
df_zp['Зарплата'] = dframe['ЗП'].apply(lambda x: str(x).split()[0])
df_zp['Зарплата'] = df_zp['Зарплата'].astype('int64')

#  dframe['ЗП'] тип данных строка, это сумма и валюта.
#  Извлекём подстроку вылюту и поместим в признак df_zp['currency'] нового датафрейма
df_zp['currency'] = dframe['ЗП'].apply(lambda x: str(x).split()[1])

# В признаке (currency) наименование валюты приведем к одному стандарту согласно ISO
df_zp['currency'].replace({'руб.':'RUB', 'бел.руб.':'BYN',
                            'грн.':'UAH', 'сум':'UZS'},
                            inplace=True)

merge_df = pd.merge(df_zp, df_mdf,
                    on=['date', 'currency'],
                    how='left'
                    )

merge_df['close'].fillna(1, inplace=True)
merge_df['proportion'].fillna(1, inplace=True)


df['ЗП(руб.)'] = round(merge_df['Зарплата'] * merge_df['close'] / merge_df['proportion'])

# round(merge_df['ЗП(руб.)'].median() / 1000)
df.drop(columns='ЗП', inplace=True)
df.head(3)

C:\Users\UserHome\AppData\Local\Temp\ipykernel_17388\1388689811.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_mdf['date'] = pd.to_datetime(df_mdf['date'], dayfirst=True).dt.date
C:\Users\UserHome\AppData\Local\Temp\ipykernel_17388\1388689811.py:8: UserWarning: Parsing dates in %d.%m.%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Обновление резюме'] = pd.to_datetime(df['Обновление резюме']).dt.date

,Ищет работу на должность:,Занятость,График,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Возраст,Пол,Опыт работы(Месяц),Город,Готовность к переезду,Готовность к командировкам,полная занятость,полный день,частичная занятость,сменный график,проектная работа,гибкий график,волонтерство,удаленная работа,стажировка,вахтовый метод,ЗП(руб.)
0,Системный администратор,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...","МАОУ ""СОШ № 1 г.Немана""",Системный администратор,2019-04-16,Имеется собственный автомобиль,неоконченное высшее,39,М,202.0,другие,False,False,True,True,True,True,True,True,False,True,False,True,29000.0
1,Технический писатель,"частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",2019-04-12,Не указано,высшее,60,М,233.0,другие,False,True,True,True,True,True,True,True,False,True,False,False,40000.0
2,Оператор,полная занятость,полный день,ПАО Сбербанк,Кассир-операционист,2019-04-16,Не указано,среднее специальное,36,Ж,123.0,другие,False,False,True,True,False,False,False,False,False,False,False,False,20000.0

# Исследование зависимостей в данных

1. Постройте распределение признака **"Возраст"**. Опишите распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится возраст большинства соискателей? Есть ли аномалии для признака возраста, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [15]:
fig = px.histogram(data_frame= df, 
            x='Возраст',  
            histnorm='percent', 
            marginal='box',  
            title='фигура-1. Распредиление признака Возраст',
            )
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

---
#### Обрати внимание

* Из графика видно, что мода возраста у соискателей **30 лет**
* Возрастной интервал у большинства соискателей состовляет у мужчин это от 27 до 36, 
* и минимальный возраст состовляет 14 лет
* Очень интересно, что среди соискателей  есть пенсионеры и  один долгожитель. Скорей всего это выбросы.
---

2. Постройте распределение признака **"Опыт работы (месяц)"**. Опишите данное распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится опыт работы большинства соискателей? Есть ли аномалии для признака опыта работы, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [ ]:
fig = px.histogram(df, 
            x='Опыт работы(Месяц)',
            marginal='box',
            histnorm='percent',
            title='Фигура-2. Распредиление признака "Опыт работы/(Месяц)',
            color_discrete_sequence=px.colors.sequential.RdBu,
            width=1000, height=600
            
            )
fig.show()

:

 <!-- <img src=./charts/distribution_of_the_work_experience_attribute.png> -->

---
### *Обратите внимание*
* Первое что бросается в глаза - это то, что на коробчатой диограмме максимальный опыт работы состовляет **1188 месяцев, а это 99 лет**. Скорей всего это выброс.
* Среднее состовляет *80-99* месяцев
* На гистограмме видно что соискатели с опытам работы 80-99 месяцев **(7-8 лет)** их количество состовляет *5.2* тысяч и с увеличением опыта работы их количество падает 
---

3. Постройте распределение признака **"ЗП (руб)"**. Опишите данное распределение, отвечая на следующие вопросы: каковы предельные значения признака, в каком примерном интервале находится заработная плата большинства соискателей? Есть ли аномалии для признака возраста? Обратите внимание на гигантские размеры желаемой заработной платы.
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [ ]:
# hist_salary = df.loc[(df['ЗП(руб.)'] < 1e6)]

fig = px.histogram(df,
                    x='ЗП(руб.)',
                    title='Распредиление заработной платы соискателей',
                    marginal='box',
                    histnorm='percent',
                    color_discrete_sequence=px.colors.sequential.RdBu,
                    # nbins=180,
                    width=10000
                    
    
)

fig.show()

:


---
#### Обрати внимание
  * На графике видно, что максимальный уровень зп составляет почти 25 миллионов
  * Заработная плата большинства соискателей находится в районе 490к.
  * Распредиление зп 
      - q1 = 37k
      - median = 60k
      - q3 = 95k
      - upper fence = 180k 
      - max = 25B

---

4. Постройте диаграмму, которая показывает зависимость **медианной** желаемой заработной платы (**"ЗП (руб)"**) от уровня образования (**"Образование"**). Используйте для диаграммы данные о резюме, где желаемая заработная плата меньше 1 млн рублей.
*Сделайте выводы по представленной диаграмме: для каких уровней образования наблюдаются наибольшие и наименьшие уровни желаемой заработной платы? Как вы считаете, важен ли признак уровня образования при прогнозировании заработной платы?*

In [ ]:
# ваш код здесь
df_salary = df.loc[(df['ЗП(руб.)'] < 1e6)]


px.bar(df_salary.groupby('Образование', as_index=False)['ЗП(руб.)'].median(), 
        x='Образование',
        y='ЗП(руб.)',
        color='Образование',
        text_auto=True,
        title='Распредиление медианной заработной платы от уровня образования',
        width=800,
        height=600,
        labels={'Образование':'Категории образования'},
        color_discrete_sequence=px.colors.sequential.Oryel
      )

:

ваши выводы здесь

5. Постройте диаграмму, которая показывает распределение желаемой заработной платы (**"ЗП (руб)"**) в зависимости от города (**"Город"**). Используйте для диаграммы данные о резюме, где желая заработная плата меньше 1 млн рублей.
*Сделайте выводы по полученной диаграмме: как соотносятся медианные уровни желаемой заработной платы и их размах в городах? Как вы считаете, важен ли признак города при прогнозировании заработной платы?*

In [ ]:
# ваш код здесь
salary_value = df.loc[(df['ЗП(руб.)'] < 1e6)]
                                                                                           

px.box(salary_value.groupby('Город', as_index=False)['ЗП(руб.)'].median().sort_values(by='ЗП(руб.)', ascending=False), 
        x='Город', 
        y='ЗП(руб.)',       
        color='Город',
        width=800,
        height=600,
        # text_auto=True,
        title='Фигура-4. Распредтление желаемой заработной платы по городам',
        color_discrete_sequence=px.colors.sequential.Magenta,
        labels={'Город':'Города'}
        )

:

In [ ]:
px.box(df.loc[(df['ЗП(руб.)'] < 1e6)].sort_values(by='ЗП(руб.)', ascending=False), 
        x='Город', 
        y='ЗП(руб.)',       
        color='Город',
        width=800,
        height=600,
        title='В какой категории городов зафиксирован показатель желаемой заработной платы',
        labels={'Город':'Города', 'ЗП(руб.)':'Желаемая заработная плата'},
        color_discrete_sequence=px.colors.sequential.Plasma
        )

:

### Фигура-4
---
* На диограмме видно, что на первом месте  медианный уровень желаемой заработной плате стоит Москва 85k.
   - потом идёт Санкт-Петербург состовляет 60k.
   - Екатеринбург 50k.
   - Новосибирск 45k.
   - остальные города по 40k.
   - и самый маленький медианный уровень желаемой заработной платы 35k. у Волгограда.
* Я считаю, что признак "Город" важен для прогнозирования заработной платы.
---

6. Постройте **многоуровневую столбчатую диаграмму**, которая показывает зависимость медианной заработной платы (**"ЗП (руб)"**) от признаков **"Готовность к переезду"** и **"Готовность к командировкам"**. Проанализируйте график, сравнив уровень заработной платы в категориях.

In [ ]:
# ваш код здесь
salary_group = df.groupby(['Готовность к командировкам', 'Готовность к переезду'], as_index=False)['ЗП(руб.)'].median()

fig = px.histogram(salary_group,
                    x='Готовность к переезду',
                    y='ЗП(руб.)',
                    hover_data=salary_group.columns,   
                    text_auto=True,
                    barmode='group',
                    labels={'false':'Готовность к переездам'}, 
                    title='Медианная желаемоя заработная плата соискателей',
                    color_discrete_sequence= px.colors.sequential.RdBu,
                    color='Готовность к командировкам',
                    width=800
                    )


fig.show()

:

### ваши выводы здесь

7. Постройте сводную таблицу, иллюстрирующую зависимость **медианной** желаемой заработной платы от возраста (**"Возраст"**) и образования (**"Образование"**). На полученной сводной таблице постройте **тепловую карту**. Проанализируйте тепловую карту, сравнив показатели внутри групп.

In [ ]:
# создадим сводную таблицу иллюстрирующую зависимость медианной желаемой заработной платы 
# от возраста "Возраст" и образования "Образование"
pivot_tables = pd.pivot_table(
    df,
    values='ЗП(руб.)',
    index='Возраст',
    columns='Образование',
    aggfunc='median',
    sort=True,                                
)

fig_imshow = px.imshow(
    pivot_tables,                                
    width=800,
    height=400,                 
    color_continuous_scale='tealrose',
    origin='lower',
    title='Медианная заработная плата в зависимости от возраста и категории образования',
)


fig_imshow

:

<!-- <img src=./charts/Median_salary_depending_on_age_and_education_category.png> -->

8. Постройте **диаграмму рассеяния**, показывающую зависимость опыта работы (**"Опыт работы (месяц)"**) от возраста (**"Возраст"**). Опыт работы переведите из месяцев в года, чтобы признаки были в едином масштабе. Постройте на графике дополнительно прямую, проходящую через точки (0, 0) и (100, 100). Данная прямая соответствует значениям, когда опыт работы равен возрасту человека. Точки, лежащие на этой прямой и выше нее - аномалии в наших данных (опыт работы больше либо равен возрасту соискателя)

In [ ]:
# ваш код здесь
fig = make_subplots()
scat = px.scatter(df,
                  x='Возраст',
                  y=df['Опыт работы(Месяц)'] / 12,   
                  color='Пол'               
                  )
fig.add_trace(go.Scatter(x=[0, 100], y=[0, 100],
                    mode='lines',
                    name='lines',
                    showlegend=False,

                    line=dict(color='red', width=1, dash='dot')))
fig.add_trace(scat['data'][0])
fig.add_trace(scat['data'][1])
fig.update_xaxes(title='Возраст')
fig.update_yaxes(title='Опыт работы в годах')
fig.update_layout(title='Зависимость опыта работы от возраста')

:

### Зависимость опыта работы от возраста
<img src=./charts/Dependence_of_work_experience_on_age.png>

* Возраст и стаж работы очень сильно коррелируют 
* Всё, что попало выше красной линии - это аномалии
* Но и то, что находится прям под самой линией тоже не может соответствовать действительности
  так как соискатель с возрастом 20 лет не может иметь стаж работы 15 лет

**Дополнительные баллы**

Для получения 2 дополнительных баллов по разведывательному анализу постройте еще два любых содержательных графика или диаграммы, которые помогут проиллюстрировать влияние признаков/взаимосвязь между признаками/распределения признаков. Приведите выводы по ним. Желательно, чтобы в анализе участвовали признаки, которые мы создавали ранее в разделе "Преобразование данных".

In [ ]:
# ваш код здесь  
df['Обновление резюме'] = df['Обновление резюме'].astype(dtype='datetime64[ms]')

px.histogram(df,
                x=df['Обновление резюме'].dt.day,
                color='Город',
                barmode='group',
                labels={'x':'Дни',},
                animation_frame=df['Обновление резюме'].dt.month.sort_values(ascending=True),
                title='Как обновлялась резюме в зависимости от города по месяцам',
                # color_discrete_sequence=px.colors.diverging.Portland             
        )

:

In [ ]:
specialization = df.groupby('Город', 
                            as_index=False)['Ищет работу на должность:'].value_counts().iloc[:10]

px.histogram(specialization,
                y='Ищет работу на должность:',
                x='count',
                color='Город',
                text_auto='count',
                color_discrete_sequence=px.colors.diverging.RdBu,
                title='Kоличество соискателей сгрупперованых по городам претендуют на должность:',
                width=800, height=600,

                
                  )

:

# Очистка данных

1. Начнем с дубликатов в наших данных. Найдите **полные дубликаты** в таблице с резюме и удалите их.

In [ ]:
df['Опыт работы(Месяц)'].isna().sum()

:

In [ ]:
dublicates = df[df.duplicated(subset=df.columns)]
df = df.drop_duplicates()
print(f'Число удаленных дубликатов: {dublicates.shape[0]}')

:

2. Займемся пропусками. Выведите информацию **о числе пропусков** в столбцах.

In [ ]:
null_data = df.isnull().sum()
display(null_data[null_data > 0])

:

3. Итак, у нас есть пропуски в 3ех столбцах: **"Опыт работы (месяц)"**, **"Последнее/нынешнее место работы"**, **"Последняя/нынешняя должность"**. Поступим следующим образом: удалите строки, где есть пропуск в столбцах с местом работы и должностью. Пропуски в столбце с опытом работы заполните **медианным** значением.

In [ ]:
df = df.dropna(subset=['Последнее/нынешнее место работы', 'Последняя/нынешняя должность'])
df['Опыт работы(Месяц)'] = df['Опыт работы(Месяц)'].fillna(df['Опыт работы(Месяц)'].median())
display(round(df['Опыт работы(Месяц)'].mean()))

:

4. Мы добрались до ликвидации выбросов. Сначала очистим данные вручную. Удалите резюме, в которых указана заработная плата либо выше 1 млн. рублей, либо ниже 1 тыс. рублей.

In [ ]:
clear_out = df.loc[(df['ЗП(руб.)'] > 1e6) | (df['ЗП(руб.)'] < 1e3)]
df = df.drop(clear_out.index)
print(f'Результирующее число записей: {clear_out.shape[0]}')

:

5. В процессе разведывательного анализа мы обнаружили резюме, в которых **опыт работы в годах превышал возраст соискателя**. Найдите такие резюме и удалите их из данных

In [ ]:
# ваш код здесь
df['Опыт работы в годах'] = df['Опыт работы(Месяц)'] // 12
# df['Опыт работы в годах']
mask = df.loc[(df['Возраст'] < df['Опыт работы в годах'])]

mask

:

---

6. В результате анализа мы обнаружили потенциальные выбросы в признаке **"Возраст"**. Это оказались резюме людей чересчур преклонного возраста для поиска работы. Попробуйте построить распределение признака в **логарифмическом масштабе**. Добавьте к графику линии, отображающие **среднее и границы интервала метода трех сигм**. Напомним, сделать это можно с помощью метода axvline. Например, для построение линии среднего будет иметь вид:

`histplot.axvline(log_age.mean(), color='k', lw=2)`

В какую сторону асимметрично логарифмическое распределение? Напишите об этом в комментарии к графику.
Найдите выбросы с помощью метода z-отклонения и удалите их из данных, используйте логарифмический масштаб. Давайте сделаем послабление на **1 сигму** (возьмите 4 сигмы) в **правую сторону**.

Выведите таблицу с полученными выбросами и оцените, с каким возрастом соискатели попадают под категорию выбросов?

In [ ]:
def find_outliers_z_score(data: pd.DataFrame, feature: str, left: float, right: float, log_scale: bool = False) -> tuple[pd.DataFrame, pd.DataFrame]:
    """
    Находит выбросы в данных, используя метод z-отклонений.
    Классический метод модифицирован путем добавления:
    * возможности логарифмирования распределения
    * ручного управления количеством стандартных отклонений в обе стороны распределения

     Аргументы:
        data (pandas.DataFrame): Набор данных.
        feature (str): Имя признака, на основе которого происходит поиск выбросов.
        left (float, опционально): Количество стандартных отклонений в левую сторону распределения. По умолчанию 3.
        right (float, опционально): Количество стандартных отклонений в правую сторону распределения. По умолчанию 3.
        log_scale (bool, опционально): Режим логарифмирования. По умолчанию False - логарифмирование не применяется.

     Возвращает:
        tuple[pd.DataFrame, pd.DataFrame]: Наблюдения, попавшие в разряд выбросов, и очищенные данные, из которых исключены выбросы.
    """
    # Применяем логарифмирование, если задано
    if log_scale:
        x = np.log(data[feature]+1)
    else:
        x = data[feature]

    # Вычисляем среднее и стандартное отклонение
    mu = x.mean()
    sigma = x.std()

    # Вычисляем нижнюю и верхнюю границы для выбросов
    lower_bound = mu - left * sigma
    upper_bound = mu + right * sigma

    # Находим выбросы и очищенные данные
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x > lower_bound) & (x < upper_bound)]

    return outliers, cleaned

emissions, normal_distribution = find_outliers_z_score(df, 'Возраст', left=3, right=4, log_scale=True)

fig, axes = plt.subplots(1, 3, figsize=(15, 4))
log_age = np.log(normal_distribution['Возраст'] + 1)
histplot = sns.histplot(x=log_age, bins=40, ax=axes[0])

histplot.axvline(log_age.mean(), color='y', lw=2)
histplot.axvline(log_age.mean() + 4 * log_age.std(), color='r', ls='-', lw=1)
histplot.axvline(log_age.mean() - 3 * log_age.std(), color='r', ls='-', lw=1)
histplot.set_title('Распредиление возраста в логарифмическом масштабе')

histplot = sns.boxplot(x=log_age,  ax=axes[1])
histplot.set_title('Распределение ящик с усами')

histplot.axvline(log_age.mean(), color='y', lw=2)
histplot.axvline(log_age.mean() + 4 *log_age.std(), color='r', ls='-', lw=1)
histplot.axvline(log_age.mean() - 3 *log_age.std(), color='r', ls='-', lw=1)

histplot = sns.histplot(x=normal_distribution['Возраст'], ax=axes[2], bins=40)
histplot.axvline(normal_distribution['Возраст'].mean(), color='y', lw=2)
histplot.axvline(normal_distribution['Возраст'].mean() + 4 * normal_distribution['Возраст'].std(), color='r', ls='-', lw=1)
histplot.axvline(normal_distribution['Возраст'].mean() - 3 * normal_distribution['Возраст'].std(), color='r', ls='-', lw=1)
histplot.set_title('Нормальное распредиление очищенные данные')

display(normal_distribution['Возраст'].describe())
display(emissions['Возраст'].describe())
display(f'всего аномалий: {emissions.shape[0]}')
display(f' Асиметрия распредиления в данных: {log_age.skew()}')
fig.show()

:

ваш коммментарий здесь